{% extends "layouts/base.html" %}

{% block title %} All models {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <form role="form" method="post" action="">
          {% csrf_token %} 
          <div class="card-header">
            <h5 class="card-title"><a href="/models/"><i class="tim-icons icon-minimal-left"></i>ALL MODELS</a></h5>
            {% if create %}
              <h4 class="title">Create new model</h5>
            {% else %}
              <h4 class="title">Model view</h5>
            {% endif %}
            {% if msg %}
            <h6>{{ msg | safe }}</h6>
            {% endif %}
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-1 pr-md-1">
                  <div class="form-group">
                    <label>Id</label><br>
                    {% if model %}
                    <input type="text" class="form-control" disabled="" value="{{ model.id }}">
                    {% else %}
                    <input type="text" class="form-control" disabled="" value="">
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Name</label><br>
                    {{ form.name }}
                  </div>
                </div>
                <div class="col-md-2 pr-md-1">
                  <div class="form-group">
                    <label>Owner</label><br>
                    {% if model %}
                    <input type="text" class="form-control" disabled="" value="{{ model.owner }}">
                    {% else %}
                    <input type="text" class="form-control" disabled="" value="{{ request.user }}">
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 pr-md-1">
                  <div class="form-group">
                    <label>Strategy</label><br>
                    {{ form.strategy }}
                  </div>
                </div>
              </div>
              {% for parameter in parameters %}
              <div class="row">
                <div class="col-md-1 pr-md-1">
                </div>
                <div class="col-md-2 pr-md-1">
                  <div class="form-group">
                    <label>{{ parameter.name }}</label>
                  </div>
                </div>
                <div class="col-md-5 pr-md-1 text-middle">
                    <div class="form-group">
                      {{ parameter }}
                    </div>
                  </div>
              </div>
              {% endfor %}
              <div class="row">
                <div class="col-md-8 pr-md-1">
                  <div class="form-group">
                    <p>Use this model in live signaling: &nbsp; {{ form.active }}</p>
                  </div>
                </div>
              </div>
          </div>
          {% if create %}
          <div class="card-footer">
            <button type="submit" name="create" value="create" class="btn btn-fill btn-primary">Create model</button>
          </div>
          {% endif %}
          {% if editable %}
          <div class="card-footer">
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <button type="submit" name="save" value="save" class="btn btn-fill btn-primary">Save changes</button>
              </div>
              <div class="col-md-4 pl-md-1 text-right">
                <button type="submit" name="delete" value="delete" class="btn btn-fill btn-danger">Delete model</button>
              </div>
            </div>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
